spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pub_game?createDatabaseIfNotExist=true&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080
  address: 0.0.0.0

#logging:
#  level:
#    org:
#      springframework:
#        web: DEBUG
#        security: DEBUG

groq:
  api:
    key: ${GROQ_API_KEY}

game:
  difficulty-levels:
    facile: "domande per bambini o cultura generale molto basilare. Risposte ovvie."
    medio: "domande per adulti mediamente istruiti. Richiedono riflessione."
    difficile: "domande da esperti, dettagli storici precisi, concetti scientifici avanzati."